<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <include resource="org/springframework/boot/logging/logback/defaults.xml" />

<!--
 <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{35} - %msg %n" />
-->
 <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

 <logger name="org.hibernate.SQL" level="DEBUG" />
 <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
<!-- 
 <logger name="org.hibernate.type" level="TRACE" />
 -->

 <root level="INFO">
  <appender-ref ref="CONSOLE" />
 </root>
</configuration>